@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #e9d3d0;
  --primary-color: #8093f1;
  --secondary-color: #b388eb;
  --primary-shadow: #2e3532;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

ul {
    list-style-type: none;
}
  
a:not([name = "name"]) {
    text-decoration: none;
    color: var(--primary-color);
}
  
a:hover:not([name = "name"]) {
    color: var(--secondary-color);
}
  
body {
    font-family: var(--font-family);
}
  
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav a:not([name = "name"]) {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover:not([name = "name"]) {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--bold-font);
}


nav h1 a.visited {
    color:black;
}

nav h1 a:link{
    color:black;
  }
nav h1 a:visited{
    color:black;
  }
nav h1 a:hover{
    color:black;
  }
 nav h1 a:focus{
    color:black;
  }
nav h1 a:active{
    color:black;
  }


  /*hero section */
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  .hero img {
    height: 50 rem;
    width: 37.5rem;
  }
  
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
  
  .bio h2 {
    color:var(--primary-shadow);
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    color:var(--primary-shadow);
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }


  /*more about */

  .more-about {
    padding: 1rem 6rem;
  }


.anchor {
    display: block;
    position: relative;
    top: -8vh;
    visibility: hidden;
}
  
  .more-about h2 {
    color: var(--primary-shadow);
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .more-about p {
    color: var(--primary-shadow);
    line-height: var(--line-height);
    padding: 0.4rem;
  }
  
/*projects*/

  .projects {
    background-color: var(--primary-shadow);
    padding: 32px 0;
    margin-top: 2rem;
  }

  .projects h2{
    color:white;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }
  
  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
    margin-top: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }
  
  /*contact*/

  .contact {
    padding: 1rem 6rem;
  }
  
  .contact h2 {
    color: var(--primary-shadow);
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .contact p {
    color: var(--primary-shadow);
    line-height: var(--line-height);
    text-align: center;
    padding: 0.4rem;
  }

  /*credit*/

  .credit {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.1rem;
    font-size: 0.8em;
    }


  @media screen and (max-width: 720px) {
    /*changes reflects on screen with a width of 720px and below*/
    nav {
        padding: 1.5rem 1rem;
      }    

      .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
      }
    
      .hero img {
            width: 100%;
        }
    
      .bio {
        margin-top: 5rem;
        width: 20.5rem;
      }

      
      .more-about {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
      }

      .anchor {
        display: block;
        position: relative;
        top: -14vh;
        visibility: hidden;
    }
    
      .more-about h2 {
        text-align: center;
      }
    
      .more-about p {
        text-align: justify;
      }

      .contact {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
      }
    
}